*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: hsla(177, 61%, 29%, 1);
}

/*The parent element of the canvas and 3D model display*/
main .canvasHolder{
    background-color: hsla(188, 36%, 90%, 1);
    width: 100vw;
    height: 75vh;
    border: black solid 5px;
}

/* The 3D model display*/
model-viewer
{
    width: 85%;
    height: 100%;
    margin: auto auto;
}

/* The invalid element Display */
main h3
{
    font-family: 'Asap', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}

main .userMenu{
    width: 100%;
    height: 20vh;
    content: "";
    display: table;
    clear: both;
    font-family: 'Asap', sans-serif;
}

main .inputSubmit, .eOptions {
    /*border: 5px solid black; */
    float: left;
    width: 50%;
}

main .inputSubmit #emInput{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2vh;

    width: 70%;

    position: relative;
    left: 1%;
}

main .inputSubmit #submitButton{
    border: 1px solid black;
    border-radius: 5px;

    text-align: center;
    font-size: 2vh;

    padding: 0px 10px;
    margin-top: 3%;

    position: relative;
    left: 1%;

    cursor: pointer;
}

#submitButton:hover{
    background-color: chocolate;
    color: white;
}

#submitButton:active{
    transform: translateY(4px);
}